<div class="row">
  <div class="col-sm-4">
    <div class="img-container" [ngStyle]="{ 'background-image': 'url(' + product?.image + ')'}">
    </div>
  </div>
  <div class="col-sm-7 ms-auto">
    <section class="title-container">
      <h1>{{ product?.title }}</h1>
      <p>{{ product?.description }}</p>
    </section>
    <section class="price-container">
      <p class="fs-1 fw-semibold">{{ product ? (product.price | currency) : (0 | currency) }}</p>
    </section>
    <section>
      <select #selectQuantity>
        <option *ngFor="let option of options" [value]="option.value">{{ option.value }}</option>
      </select>
    </section>
    <section class="button-container mt-3">
      <button type="button" class="btn btn-primary" (click)="shoppingStoreService.addToCart(product, +selectQuantity.value)">Add to Cart</button>
    </section>
    <section class="link-container mt-3">
      <a [routerLink]="['/products']">Back to products list</a>
    </section>
  </div>
</div>
