<div class="row">
  <div class="col-12 text-center mt-5">
    <fa-icon [icon]="faSquareCheckIcon" class="fs-1 text-success"></fa-icon>
    <h1 class="text-success">Success!</h1>
    <p>Thank you, <strong>{{ shoppingStoreService.clientName$ | async }}!</strong></p>
    <p>Your <strong>{{ shoppingStoreService.cartProductsPrice$ | async | currency }}</strong> has been confirmed!</p>
    <p>Please allow 1-3 business day(s) for shipping.</p>
    <button class="btn btn-primary" (click)="onNewOrder()">Back to products list</button>
  </div>
</div>
