<section class="row">
  <div class="col-md-5 mb-3">
    <div class="img-container" [ngStyle]="{ 'background-image': 'url(' + product.image + ')'}"></div>
  </div>
  <div class="col-md-6 ms-auto">
    <div class="title-container mb-4 fs-6 fw-semibold">
      {{ product.title }}
    </div>
    <div class="price-container mb-4 fs-6 fw-semibold">
      {{ product.price | currency }}
    </div>
    <div class="price-container fs-6 mb-3 fw-semibold">
      Amount: <input type="number" #amountControl min="0" max="99" [value]="product.quantity" (change)="onAmountChange(product, amountControl.value)">
    </div>
  </div>
</section>
