<article>
  <section class="outer-img-wrapper">
    <div class="img-container" [title]="product?.title" [ngStyle]="{ 'background-image': 'url(' + product?.image + ')' }">
      <a [routerLink]="['/products', product?.id]" [title]="product?.title" class="img-link"></a>
    </div>
  </section>
  <section class="text-container text-center mt-4">
    <h5 [title]="product?.title">{{ product?.title }}</h5>
  </section>
  <section class="text-center">
    <p><strong>{{ product?.price | currency }}</strong></p>
  </section>
  <section class="display-flex justify-center">
    <select #selectQuantity>
      <option *ngFor="let option of options" [value]="option.value">{{ option.value }}</option>
    </select>
  </section>
  <section class="button-container text-center mt-3">
      <button type="button" class="btn btn-primary" (click)="shoppingStoreService.addToCart(product, +selectQuantity.value)">Add to Cart</button>
  </section>
</article>
