<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="show = !show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': show}" id="navbarText">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li *ngFor="let menuItem of menuList" class="nav-item">
          <a class="nav-link" [routerLink]="menuItem.routeLink" routerLinkActive="active" #rla="routerLinkActive" [ariaCurrentWhenActive]="rla.isActive">{{ menuItem.routeText }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
